@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <h4>Sightstone</h4>
    <div>
        Sightstone, an online league of legends client
        Copyright &copy; 2016 SightstoneOfficial

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program. If not, see <a href="http://www.gnu.org/licenses/"></a>.
    </div>

    <h4>Other licenses</h4>
    <div>
        <!--Reference Licenses-->
        <a href="http://www.ag-software.net/agsxmpp-sdk/license/gpl-license/">agsXMPP</a>
        <a href="https://github.com/JamesNK/Newtonsoft.Json/blob/master/LICENSE.md">Newtonsoft.Json</a>
        <a href="https://www.microsoft.com/web/webpi/eula/net_library_eula_enu.htm">Net Library</a>
        <a href="https://github.com/Microsoft/ApplicationInsights-Home/blob/master/LICENSE">Application Insights</a>
    </div>
    <div>
        <!--Javascript Licenses-->
        <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">Bootswatch</a>
        <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">Bootstrap</a>
        <a href="https://github.com/jquery/jquery/blob/master/LICENSE.txt">jquery</a>
        <a href="https://modernizr.com/license/">modernizr</a>
        <a href="https://github.com/scottjehl/Respond/blob/master/LICENSE-MIT">modernizr</a>
    </div>

</div>