@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <h4>Sightstone</h4>
    <div>
        Sightstone, an online league of legends client<br />
        Copyright &copy; 2016 SightstoneOfficial<br />
        <br />
        This program is free software: you can redistribute it and/or modify<br />
        it under the terms of the GNU General Public License as published by<br />
        the Free Software Foundation, either version 3 of the License, or<br />
        (at your option) any later version.<br />
        <br />
        This program is distributed in the hope that it will be useful,<br />
        but WITHOUT ANY WARRANTY; without even the implied warranty of<br />
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the<br />
        GNU General Public License for more details.<br />
        <br />
        You should have received a copy of the GNU General Public License<br />
        along with this program. If not, see <a href="http://www.gnu.org/licenses/"></a>.
    </div>

    <br/>
    <h4>Other licenses</h4>
    <hr/>
    <hr/>
    <div>
        <h5>C# Libraries</h5>
        <hr/>
        <!--Reference Licenses-->
        <a href="http://www.ag-software.net/agsxmpp-sdk/license/gpl-license/">agsXMPP</a>
        <br/>
        <a href="https://github.com/JamesNK/Newtonsoft.Json/blob/master/LICENSE.md">Newtonsoft.Json</a>
        <br/>
        <a href="https://www.microsoft.com/web/webpi/eula/net_library_eula_enu.htm">Net Library</a>
        <br/>
        <a href="https://github.com/Microsoft/ApplicationInsights-Home/blob/master/LICENSE">Application Insights</a>
        <br/>
    </div>
    <br/>
    <div>
        <h5>Javascript Libraries</h5>
        <hr/>
        <!--Javascript Licenses-->
        <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">Bootswatch</a>
        <br />
        <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">Bootstrap</a>
        <br />
        <a href="https://github.com/jquery/jquery/blob/master/LICENSE.txt">jQuery</a>
        <br />
        <a href="https://modernizr.com/license/">Modernizr</a>
        <br />
        <a href="https://github.com/scottjehl/Respond/blob/master/LICENSE-MIT">Respond</a>
    </div>

</div>