@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sightstone</h1>
    <p class="lead">Play league of legends without a need for a client to be running. All you need is league of legends to be installed.</p>
    <p><a href="@Html.ActionLink("", "Register", "Account")" class="btn btn-primary btn-lg">Register now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Something</h2>
        <p>
            Register to try a new type of league of legends client never seen before. We are in the BETA phase and will only
            allow users to apply for this client. Your application may be declined. Ranked queues are DISABLED for security
            reasons.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>No hassle client updating.</h2>
        <p>
            Our client reminds you as soon as there is a league of legends update. This update may cause some bugs; however,
            these bugs can often be quickly fixed by uploading a quick fix to our servers.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Security</h2>
        <p>
            Store accounts safely on our servers. Security is a high priority, and your username and password is used to
            decrypt this stored data. If someone breaks into our servers, we will attempt to notify all users and all data
            will be wiped as soon as possible. You will be recommend to change your password as soon as possible.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>